// search.jade
extends ./base.jade

block content
    section.container
        h1 Jamwich.es!
        p It's a thing!
        div#login
            h1 First, log in to spotify
            a(href="/login") Log in