// search.jade

append scripts
    script(type='text/javascript', src='linker/js/app/views/search.js')
    script.
        var app = {
            data: {},
            views: {}
        };
        $(document).ready(function(){
            // Activate main view
            Jamwich.initialize(app);
            app.views.controller = new Jamwich.Views.Search({el:"#search"});
        });

section#search
    form.form-inline(method='post',action='/search')
        fieldset
            div.form-group
                input.form-control.col-lg-4(type='text', name='search', id='search', placeholder='Search Tracks!')
            button.btn.btn-default(type='submit') Submit