// search.jade

section#search
    form.form-inline(method='post',action='/search')
        fieldset
            div.form-group
                input.form-control.col-lg-4(type='text', name='search', id='search', placeholder='Search Tracks!')
            button.btn.btn-default(type='submit') Submit