// results.jade
extends ./base.jade

block content
  section#results
    //- var trackArray = []
    //iframe (src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:5Z7ygHQo02SUrFmcgpwsKW,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe", frameborder="0", allowtransparency="true")
    ul
      each track in tracks
        li
          iframe(src="https://embed.spotify.com/?uri=" + track.uri, width="300", height="80", frameborder="0", allowtransparency="true")
          span.track= track.name
          span.artist= track.artists[0].name
          span.album= track.album.name